/*CSS Reset*/
*{
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0;
}
body{
	background: rgba(0, 0, 0, .1);
}
/*navigation bar*/
.nav{
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: rgba(0, 0, 0, .5);
}
.bgcolor.scrolled{
	background: black;
}
.nav::before{
	content: "";
	width: 100%;
	height: 0%;
	position: absolute;
	z-index: -1;
	opacity: 1;
	left: 0;
	top: 0;
}
/*navigation bar logo*/
.logo h1{
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 	40px;
	margin: 5px 30px 5px 50px;

}
/*navbar home*/
.bar > ul{
	display: flex;
	list-style: none;
}
.bar > ul li a{
	text-decoration: none;
	font-size: 1.1rem;
	color: white;
	padding: 5px;
	color: white;
	display: block;
	margin: 0px 20px;
	transition-property: background-color color;
	transition-duration: .5s;
	text-transform: uppercase;
/*	position: relative;*/
}
.bar > ul li a:hover{
	border-radius: 5px;
	background: #f2f2f2;
	color: black;
}

/*Dropdown menu*/

.bar ul ul{
	list-style: none;
		display: none;
		position: absolute;
}
.bar ul li:hover > ul{
		display: block;
		color: #F2F;
		background: rgba(0, 0, 0, .5);
}
.bar ul ul li{
		width: 180px;
}

/*section:home*/
.home{
	display: flex;
	flex-direction: column;
	padding: 3px 200px;
	height: 55vh;
	justify-content: center;
	align-items: center;
	color: white;
}
.home::before{
	content: '';
	position: absolute;
	background: url("bg3.jpg") no-repeat center center/cover;
	height: 85%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: .9;
}
/*section h1 and slogan*/
.home h1{
	margin-top: 150px;
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 100px;
}
.home h3{
	font-size: 25px;
}

/*section btn*/
.home .btn{
	padding: 10px 12px;
	background: none;
	color: white;
	margin: 15px;
	cursor: pointer;
	font-size: 1.1rem;
	width: 200px;
}
.home .btn:hover{
	background: #372b2b;
	color: white;
/*	border: solid 1px black;*/
}

/*section:services*/
.serivces{
	display: flex;
	margin: 10px 50px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.serivces-main h1{
	margin: 140px 0px 0px 0px;
	text-align: center;
	color: black;
	font-size: 35px;
	text-transform: uppercase;
}
.serivces .box{
	width: 100%;
	border: solid gray; 2px;
	margin: 9px;
	padding: 10px;
	background: #f2f2f2;
	transition: all .3s;
	border-radius: 20px;
}
.serivces .box:hover{
	transform: scale(1.009);
}
.serivces .box p{
	text-align: justify;
	padding: 0px 5px;
}
.serivces .box h2{
	text-align: center;
	margin: 5px;
}
.serivces .box3 img{
	width: 100%;
}


/*section:client-main*/
.client-main{
	height: 250px;
}
.client-main h1{
	text-transform: uppercase;
	padding-top: 40px;
	margin: 0px 0px -10px 0px;
	text-align: center;
	color: black;
	font-size: 35px;
}

.client-main div{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.client-main::before{
	content: '';
	position: absolute;
	background: url('logobg.jpg') no-repeat center center/cover;
	height: 40%;
	width: 100%;
	z-index: -1;
	opacity: .5;
}

/*Reserved Table*/
.rev-table::before{
	content: '';
	background: url('table.jpg') center center/cover;
	height: 45%;
	width: 100%;
	position: absolute;
	z-index: -1;
	opacity: .7;
}
.rev-table h1{
	text-align: center;
	font-size: 35px;
	margin-top:75px;
	padding: 25px;
	color: black;
} 
.rev-table div div{
	display: flex;
	justify-content: center;
}

.rev-table input[type="text"],
.rev-table input[type="date"],
.rev-table input[type="time"]{
	width: 300px;
	padding: 5px;
	margin: 5px 15px;
}
.rev-table input[type="submit"]{
	width: 100px;
	padding: 5px;
}

/*Footer*/

.footer-main{
	padding: 30px 0px 20px 0px;
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: black;
	color: white;
}

.footer-main ul{
	list-style: none;
	margin-left: 50px;
	padding: 10px;
}
.footer-main h3{
	margin-left: 30px;
}
.footer-main .social .right{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.footer-main .social .link{
	margin-top: -10px;
}